  /Users/wmathurin/Development/github/wmathurin/MultiAppsTester/MultiAppsTester2:
  total used in directory 48 available 9223372036848209381
  drwxr-xr-x  12 wmathurin  wheel   384 Mar 29 16:46 .
  drwxr-xr-x  18 wmathurin  wheel   576 Mar 29 16:55 ..
  -rw-r--r--   1 wmathurin  wheel  5767 Mar 29 16:46 AppDelegate.swift
  -rw-r--r--   1 wmathurin  wheel   104 Mar 29 16:46 Bridging-Header.h
  drwxr-xr-x   6 wmathurin  wheel   192 Mar 29 16:46 Helpers
  -rw-r--r--   1 wmathurin  wheel  1714 Mar 29 16:46 Info.plist
  -rw-r--r--   1 wmathurin  wheel   322 Mar 29 16:46 MultiAppsTester.entitlements
  drwxr-xr-x   6 wmathurin  wheel   192 Mar 29 16:46 Resources
  drwxr-xr-x   4 wmathurin  wheel   128 Mar 29 16:46 SObjects
  drwxr-xr-x   7 wmathurin  wheel   224 Mar 29 16:46 ViewControllers
  drwxr-xr-x   3 wmathurin  wheel    96 Mar 29 16:46 Views
  -rw-r--r--   1 wmathurin  wheel  1750 Mar 29 16:46 main.swift
